
{% render 'WGGitlabBundle:Access:select' %}

<form id="wg_gitlab_issue_form" action="" method="post">

    {{ form_widget( form ) }}
    
    <input type="submit" value="save" />

</form>

<script type="text/javascript">
    var select = document.getElementById( 'wg_gitlab_project_selector' );
    presetProjectFieldInIssueForm( select.value );
    if ( select.children.length > 1 )
    {
        select.onchange = projectSwitched;
    }
    else if ( select.children.length < 1 )
    {
        document.getElementById( 'wg_gitlab_issue_form' ).style.display = 'none';
    }
    function projectSwitched( evt )
    {
        var select = evt.target;
        presetProjectFieldInIssueForm( select.value );
    }
    function presetProjectFieldInIssueForm( projectId )
    {
        var field = document.getElementById( 'gitlabissue_projectId' );
        field.value = projectId;
    }
</script>
